streamlit 
nltk
spacy
nltk.download('stopwords')
spacy.load('en_core_web_sm')
Image, ImageDraw, ImageFont
pandas
base64, random
time, datetime
ResumeParser
LAParams, LTTextBox
PDFPage
PDFResourceManager
PDFPageInterpreter
TextConverter
io, random
st_tags
Image
pymysql
ds_course, web_course, android_course, ios_course, uiux_course, resume_videos, interview_videos
os
os.environ["PAFY_BACKEND"] = "internal"
pafy
plotly
youtube_dlc
